<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>
<body>
    <main>
        <!-- Map -->
        <article class="map">
            <div class="map__loader">
                <picture>
                    <img src="{{asset('../img/svg/cloud-dark.svg')}}" alt="">
                </picture>
                <p>Cargando estadísticas...</p>
            </div>
            <div class="map__legend">
                <div class="progress-bar"></div>
                <div class="percent">
                    <p class="secondary">0%</p>
                    <p class="secondary">100%</p>
                </div>
            </div>
            <div class="map__content enable" id="map"></div>
        </article>
        <!-- Fin map -->
    </main>
    <script type="module" src="../js/front.js"></script>
</body>
</html>